Heph-HTTP

Incomplete list from while I was working on the code:

* [ ] Dropping unread chunked `server::Body`.
* [ ] implement `Body` for `ChunkedBody`.
* [ ] Testing:
  * [ ] `client` module.
    * [ ] Testing: `Client::read_chunk` and down.
  * [ ] `server` module.
    * [ ] HTTP/1.0 requests.
    * [ ] Pipeline requests and responses.
    * [ ] Are non-read body dropped from the connection:
      * [ ] Oneshot (with Content-Length).
      * [ ] Chunked.
      * [ ] Chunked very-long... at some we want to stop reading...
      * [ ] RFC 7230 section 3.3.3 point 5.
    * [ ] `Connection::send_response`:
      * [ ] User setting Content-Length header.
      * [ ] User setting Transfer-Encoding header.
      * [ ] User setting Date header.
      * [ ] Automaitcally setting Connection header for HTTP/1.0.
      * [ ] No body and "Content-Length: 0" for:
        * [ ] 100..=199 Status Code.
        * [ ] 204 Status Code.
        * [ ] 304 Status Code.
      * [ ] Automaitcally setting Transfer-Encoding header for chunked body.
    * [ ] `Body::recv`.
    * [ ] `Body::recv_vectored`.
    * [ ] `Body::read_all`.
    * [ ] `Body` as `Body` in another request.
  * [ ] `body` module.
* [ ] Support same-named headers in `Headers`, mainly getting them.
* [ ] Go through RFC for correctness, test for each section/requirement in them.
* [ ] Expand crate documentation, including examples.
* [ ] Review: src/server.rs.
* [ ] Review: src/client.rs.
* [ ] Review: src/body.rs.
* Look into using fuzzing.
* Look into using proptest.

## Maybe

* [ ] Always set `TCP_NODELAY` on `server::Connection`. Not possible to do in
      `ArgMap`.
* [ ] Accept `length: Option<NonZeroUsize>` in `FileBody::new`.

# IDEAS

* [ ] Create a higher level API, perhaps in a service module.
* [ ] Router type (or macro?). A trie router per method.
* [ ] FromRequest trait that allow parsing helpers, e.g. Json, Query, etc.
* [ ] IntoResponse trait that allow deserialisors helpers, e.g. Json.
* [ ] Service trait:
```rust
pub trait Service {
    type Request: FromRequest;
    type Response: IntoResponse;
    type Handler: Future<Output = io::Result<Self::Response>>;
    fn call(&self, request: Self::Request) -> Self::Handler;
}
```
* [ ] Middleware trait:
```rust
pub trait Middleware {
    type Handler: Future<Output = io::Result<Response>>;
    fn call<S>(&self, request: Request, next: S) -> Self::Handler
        where S: Service;
}
```

# Check RFCs

Create tests for each section/paragraph from the RFCS:
* [ ] RFC 7230 - HTTP Message Syntax and Routing
* [ ] RFC 7231 - HTTP Semantics and Content
* [ ] RFC 7232 - HTTP Conditional Requests
* [ ] RFC 7233 - HTTP Range Requests
* [ ] RFC 7234 - HTTP Caching
* [ ] RFC 7235 - HTTP Authentication
* [ ] RFC 7236 - HTTP Authentication Scheme Registrations
* [ ] RFC 7237 - HTTP Method Registrations
* [ ] RFC 7238 - HTTP Status Code 308 (Permanent Redirect)
* [ ] RFC 7239 - Forwarded HTTP Extension
* [ ] RFC 7240 - Prefer Header for HTTP
* [ ] RFC 5789 - PATCH Method for HTTP

Search for more HTTP related RFCs.

## Related RFCs:

HTTP relies upon the Uniform Resource Identifier (URI) standard [RFC3986].

Transport Layer Security (TLS, [RFC5246]).

## Obsolete RFCs

* RFC 2616
* RFC 2145

Have you considered using the `http` crate? It would be of great benefit to the ecosystem for it to see more adoption.

@ibraheemdev I know of the http crate, the problem is that it uses the bytes crate underneath and I don't think that's needed. But I'm considering a feature to support `http` and a more higher-level API.