Send Host header in client

Per section 5.4 of RFC 7230:

>  A client MUST send a Host header field in all HTTP/1.1 messages.